body
{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:#232323;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans serif;
    font-weight: normal;
    color: #0094FF;
    text-shadow: 0.5px 0.5px 0.5px #9A9A9A;
}
p {
    margin: 0 0 17px 0;
    font-size: 13px;
    line-height: 20px;
    max-width:1000px;
}
a
{
	outline: 0;
    text-decoration:none;
    border-bottom:1px dotted #9D9D9D;
    color:#232323;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
	a:hover, a:active
	{
		text-decoration:none;
		color:#255B78;
		border-bottom:1px dotted transparent;
	}

.typography h1 a,
.typography h2 a,
.typography h3 a,
.typography h4 a,
.typography h5 a,
.typography h6 a {
  border: none;
  text-decoration: none;
}
.typography h1 {
    margin: 10px 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 5px;
}
	.typography h1 span.amp {
	    font-family: Arial, Helvetica, sans serif;
	    font-style: italic;
	}
.typography h2 {
    margin: 15px 0;
    font-size: 24px;
    line-height: 28px;
}
.typography h3 {
    margin: 10px 0;
    font-size: 22px;
    line-height: 26px;
}
.typography h4 {
    margin: 5px 0;
    font-size: 18px;
    line-height: 20px;
}
.typography h5 {
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
}
.typography h6 {
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
}


/* ----- BLOCKQUOTE ------------------------------ */
blockquote {
	display: block;
	color: #000;
	font-size: 16px;
	padding: 42px 25px;
	position: relative;
	width: 450px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;  
}
	blockquote:before {
		content: '\201C';
		font-size: 140px;
		color: #0094FF;
		position: absolute;
		top: -15px;
		left: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	blockquote:after {
		content: '\201D';
		font-size: 140px;
		color: #0094FF;
		position: absolute;
		bottom: -70px;
		right: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	blockquote p {
		font-size: 16px;	
	}
	blockquote p,
	blockquote h1,
	blockquote h2,
	blockquote h3,
	blockquote h4,
	blockquote h5,
	blockquote h6 {
		margin-bottom: 0 !important;	
	}

/* ----- TABLE ----------------------------------- */
table {
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    border-spacing: 0;
    margin: 0 0 10px;
}
  table tr:nth-child(even) {
      background-color: #ededed
  }
  table tr.even,
  .content table th,
  .content thead td {
      background-color: #ededed
  }
  table td,
  .content table th {
      padding: 2px 5px;
      border: 1px solid #d4d4d4;
      vertical-align: top;
  }
  table th {
      text-align: left;
      font-weight: bold;
  }
 
/* LISTS 
-------------------------------------------- */
.typography ul,
.typography ol {
    margin: 20px 0 20px 30px;
}
	.typography ul li {
		padding: 3px 0;
		list-style-type: disc;
	}
	.typography ol li {
		padding: 3px 0;
	}

/* WYSIWYG EDITOR ALIGNMENT CLASSES 
-------------------------------------------- */
.typography .left {
    text-align: left
}
.typography .center {
    text-align: center
}
.typography .right {
    text-align: right
}

/* IMAGES 
-------------------------------------------- */
.typography img {
    max-width: 60%;
    height: auto;
    float: left;
    margin: 6px 20px 10px 0;
}
	.typography img.left, 
	.typography img.right {
		max-width: 60%;
		height: auto;
	}
	.typography img.left {
		float: left;
		margin: 6px 20px 10px 0;
	}
	.typography img.right {
		float: right;
		margin: 6px 0 10px 20px;
	}

.typography img.leftAlone {
    float: none;
}
.typography img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


